/* UPDATE CODE BASED ON COURSEWORK */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@100;400;600;900&display=swap');

html {
    font-family: 'Nerko One', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #6b469a;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;;
    color: #fff;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: #fff;
}

nav {
    margin: 10px;
    padding: 10px;
    background-color: #999999;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: #fda103;
    border-bottom: 2px solid #fda103;
}


div {
    padding: 10px;
}

img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: bottom;
}

footer {
    text-align: center;
    background-color: #6b469a;
    padding: 10px;
    color: #fff;
}

/* Your code here */

/* Changes nav links (a) to be stacked */

nav a {   
    display: block;
}

/* Changes nav links (a) to flow to the next line */

/* nav a {   
    display: inline;
} */

nav {
    width: 200px;
    /* width: 50%; */
    /* takes up 50% of the width (Left side) */
    /* width: 20em; */
    /* width: 20rem; */
    /* width: auto;
    /* takes up whole area */
}

img#cupcake1image {
    width: 300px;
    height: 200px;
    border: 3px dashed orange;
}

header {
    margin: 20px;
    padding: 20px;
    /* changing background colour */
    background-color: lightcoral;
    font-family: 'Poppins', sans-serif;    
    font-size: 20px;
}

* {
    border: 1px solid grey;
}

