/* ADD STYLING AS PER CLASS INSTRUCTIONS */

body {
    background-color: lavender;
}

/* div {
    background-color: peachpuff;
} */

.main-heading {
    background-color: lightskyblue ;
}

.list-item {
    background-color: darkseagreen;
}

#first-paragraph{
    background-color: lightcoral;
}

/* CHALLENGE: 
- Change the background of the first two nav items to mediumpurple
- Change the background of the last navitem to gold
- Update the div styling to use an idinstead of a tag. */

.nav-item {
    background-color: mediumpurple;
}

#nav-item-3 {
    background-color: gold;
}

#div-1 {
    background-color: peachpuff;
}