
nav a {
    color: red;
}


.nav-link {
    color: black;
}


nav a.nav-link {
    color: green;
}


nav a.nav-link#link-1 {
    color: purple;
}


html div p {
    color: darkgrey;
}


body div p {
    color: hotpink;
}


